[submodule "deps/gamenastix-protocol"]
	path = deps/gamenastix-protocol
	url = https://github.com/discowtmh/gamenastix-protocol
[submodule "deps/gamenastix-biomodel"]
	path = deps/gamenastix-biomodel
	url = https://github.com/discowtmh/gamenastix-biomodel
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/discowtmh/glm
